.card {
  border: none;
}

.form-control {
  border-radius: 12px;
  font-size: 15px;
}

button {
  border-radius: 12px;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}
.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.2em;
}